<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <% if (typeof pageCss !== "undefined") { %>
        <link rel="stylesheet" href="<%= pageCss %>">
    <% } %>
    <title>Header</title>
</head>
<body>
    <div id="header-container">
        <a href="/create/fitcard" class="header-item">Create Fit Card</a>
        <a href="/create/nutricard" class="header-item">Create Nutri Card</a>
        <a href="/create/recoverycard" class="header-item">Create Recovery Card</a>
        <a href="/home"><img id="header-logo" class="logo" src="/images/nutri-fit-logo.jpg" alt="NutriFit Logo"></a>
        <a href="/calendar" class="header-item">Weekly Calendar</a>
        <a href="/ask-berry" class="header-item">Ask Berry</a>
        <a href="/contact" class="header-item">Contact Us</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <% if (typeof pageJQuery !== "undefined") { %>
        <script src="<%= pageJQuery %>"></script>
    <% } %>
</body>
</html>