<%- include("partials/header.ejs") %>

<div id="home-title-container">
    <% if(locals.data) { %>
        <h1 id="home-heading" class="page-title">Welcome to NutriFit, <%= data.firstName %> <%= data.lastName %></h1>
    <% } else { %>
        <h1 id="home-heading" class="page-title">Welcome to NutriFit! Please Sign-In</h1>
    <% } %>
    <p id="app-description">
        Nutrifit is all about two things: Nutrition and Fitness. Our goal is to help you reach 
        the goals you have for yourself in everything regarding your health, and that is 
        most effective when combining your nutrition with your fitness. Nutrifit is your space 
        to organize your nutritional and fitness goals and schedules. Not only that, but it is 
        the place where you can receive guidance on the type of nutrition and exercises that 
        will help you achieve your goal, all backed up by real data!
    </p>
    <form id="signin-form" action="/" method="get">
        <button id="signin-button" class="btn1" type="submit">Sign In</button>
    </form>
</div>

<div id="nutrifit-images-container">
    <img id="nutritional-meal-image" class="decorational-images" src="images/nutritional-meal.jpg">
    <img id="gym-chestpress-image" class="decorational-images" src="images/gym-chestpress.jpg">
</div>

<div id="berry-container">
    <h2 id="berry-heading">ASK BERRY</h2>
    <p id="berry-description">
        Berry is our Nutritional and Fitness AI specialist. Taking data from the most credible 
        nutritional and fitness databases and APIs, berry is here to help you understand more 
        about what you need to do to achieve your health goals for a better life. You can ask 
        Berry any questions you might have about Nutrition and Fitness. You can also ask Berry 
        to help you make a meal plan and an exercise routine to help you achieve your health 
        goals. Berry will always guide you behind the reason for each suggestion, and help you 
        create the plan that works for you
    </p>
    <form action="/ask-berry" method="post" id="berry-form">
        <textarea id="prompt" name="prompt" placeholder="Enter your prompt"></textarea>
        <input type="submit" id="submit-prompt" class="btn1" name="submit-prompt" value="Submit Prompt">
    </form>
</div>

<div id="cards-container">
    <div id="nutricard-container" class="cards-container">
        <h3 id="nutricard-heading" class="card-heading">Create a Nutri Card</h3>
        <img id="nutricard-image" class="card-image" src="images/nutricard-image2.jpg" alt="nutri card drawing">
        <p id="nutricard-description" class="card-description">
            Nutricards help you to remain aware and organized of the nutrition you must follow 
            in order to achieve your goal. Remembering the specifics of what you must eat for 7 
            different days of the week is impractical, since there's simply too much to remember. 
            The amount of protein, carbs, and fat, the exact meals that will provide you with 
            the nutrients you need, what days you should eat what, as well as what time will 
            give you better results. <br><br>
            Nutri Cards let you keep it all stored, for easy everyday access. Because 
            you don't want to have to keep all this important information stored in your Notes 
            App 😉! Whenever you're ready, try creating your first Nutri Card. Or ask Berry, 
            our AI, to help create one for you.
        </p>
        <form id="nutricard-form" action="/create/nutricard" method="get">
            <button id="nutricard-button" class="btn1" type="submit">Create Nutri Card</button>
        </form>
    </div>
    <div id="fitcard-container" class="cards-container">
        <h3 id="fitcard-heading" class="card-heading">Create a Fit Card</h3>
        <img id="fitcard-image" class="card-image" src="images/fitcard-image2.jpg" alt="fit card drawing">
        <p id="fitcard-description" class="card-description">
            Nutricards help you to remain aware and organized of the nutrition you must follow 
            in order to achieve your goal. Remembering the specifics of what you must eat for 7 
            different days of the week is impractical, since there's simply too much to remember. 
            The amount of protein, carbs, and fat, the exact meals that will provide you with 
            the nutrients you need, what days you should eat what, as well as what time will 
            give you better results. <br><br>
            Nutri Cards let you keep it all stored, for easy everyday access. Because 
            you don't want to have to keep all this important information stored in your Notes 
            App 😉! Whenever you're ready, try creating your first Nutri Card. Or ask Berry, 
            our AI, to help create one for you.
        </p>
        <form id="fitcard-form" action="/create/fitcard" method="get">
            <button id="fitcard-button" class="btn1" type="submit">Create Fit Card</button>
        </form>
    </div>
</div>