<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In to NutriFit</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center; height: 100vh; justify-content: center; gap: 100px;">
        <h1>Welcome to NutriFit, your place to get good nutrition, and get fit!</h1>
        <h2>Let's begin by having you login into our system</h2>
        <form action="/home", method="post">
            <label for="fname">First Name</label>
            <input type="text", id="firstName", name="firstName">
            <label for="lname">Last Name</label>
            <input type="text", id="lastName", name="lastName">
            <input type="submit", value="Submit">
        </form>
    </div>
</body>
</html>