#ai-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: white;
    padding-bottom: 40px;
}

h1 {
    font-size: 3rem;
}

#ai-description {
    font-size: 1.4rem;
    width: 60%;
    text-align: center;
}

#ai-response {
    width: 60%;
    font-size: 1.5rem;
    background-color: #ffffff;
    min-height: 200px;
    padding: 20px;
    outline-color: black;
    outline-width: 4px;
    outline-style: solid;
    border-radius: 10px;
}

#berry-form {
    width: 100%;             /* Forces the form to fill the 60% container */
    display: flex;           /* Enables flexbox inside the form */
    flex-direction: column;  /* Stacks textarea and button vertically */
    align-items: center;     /* Centers the button horizontally */
    gap: 20px;               /* Adds space between textarea and button */
}

#user-prompt {
    margin-top: 60px;
}

#prompt {
    width: 95%;
    min-height: 50px;
    background-color: #ffffff;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px 2px rgb(175, 175, 175);
    border-color: white;
}

#submit-prompt {
    width: 40%;
    height: 50px;
    font-size: 1.4rem;
    border-color: white;
    border-radius: 15px;
}

.btn1 {
    color: white;
    background-color: #27D926;
    transition: background-color 200ms, transform 300ms;
}

.btn1:hover {
    background-color: #D92627;
    transform: scale(1.1, 1.1);
}

.user-message {
    background: #e8f0ff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 30px;
    padding-left: 30px;
}

.ai-message {
    background: #e8fffa;
    padding: 20px;
    border-radius: 8px;
    padding-right: 30px;
    padding-left: 30px;
}