body {
    margin-top: 0px;
    padding-top: 0px
}

#header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 5% 0px 5%;
    height: 8vh;
}

#header-logo {
    width: 200px;
}

.header-item {
    color: black;
    text-decoration: none;
    flex-basis: 200px;
    text-align: center;
    font-size: 1.5rem;
}