#home-title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    text-align: center;
}

#home-heading {
    font-size: 3rem;
}

#app-description {
    font-size: 20px;
    width: 50%;
    line-height: 30px;
    letter-spacing: 0.8px;
}

#nutrifit-images-container {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 80px;
}

#nutritional-meal-image {
    flex-basis: auto;
    max-width: 900px;
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: auto;
}

#gym-chestpress-image {
    flex-basis: auto;
    max-width: 900px;
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: auto;
}

#signin-form {
    width: 100%;
}

#signin-button {
    width: 10%;
    height: 50px;
    font-size: 1.4rem;
}

#berry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #efedef;
    padding-bottom: 40px;
}

#berry-heading {
    font-size: 2.5rem;
}

#berry-description {
    text-align: center;
    font-size: 20px;
    width: 50%;
    line-height: 30px;
    letter-spacing: 0.8px;
}

#input-textbox {
    width: 60%;
    min-height: 200px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
}

#berry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
}

#prompt {
    width: 70%;
    min-height: 200px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

#submit-prompt {
    width: 40%;
    height: 50px;
    font-size: 1.4rem;
}

.btn1 {
    color: white;
    background-color: #27D926;
    transition: background-color 200ms, transform 300ms;
}

.btn1:hover {
    background-color: #D92627;
    transform: scale(1.1, 1.1);
}

#nutricard-container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 5px;
    padding: 0px 10% 0px 10%;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#nutricard-heading {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    font-size: 3rem;
}

#nutricard-image {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    max-width: 80%;
}

#nutricard-description {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.8px;
    margin-right: 40px;
}

#nutricard-form {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#nutricard-button {
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
}

.card-image {
    border: 3px solid black;
}

#fitcard-container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 5px;
    padding: 0px 10% 0px 10%;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#fitcard-heading {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    font-size: 3rem;
}

#fitcard-image {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    max-width: 80%;
}

#fitcard-description {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.8px;
    margin-left: 40px;
    margin-right: 40px;
}

#fitcard-form {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#fitcard-button {
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
}

#recoverycard-container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 5px;
    padding: 0px 10% 0px 10%;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
    
#recoverycard-heading {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    font-size: 3rem;
}

#recoverycard-image {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    max-width: 80%;
}

#recoverycard-description {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.8px;
    margin-left: 40px;
    margin-right: 40px;
}

#recoverycard-form {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#recoverycard-button {
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
}